# Set-Up

In [1]:
input_weather_dir = "../data/intermediate/parquet/weather/hourly"

# Exploring Data Formats

In [9]:
# get parquet dataframe for one station
import pandas as pd
df_weather = pd.read_parquet(f"{input_weather_dir}/01014002_ARBENT.parquet")
df_weather.head()

,td,ta,ta_max,ta_min,rh,rh_max,rh_min,wd,ws,dxi,...,snow_height,nebulosity,insolh_duration,glo,pres,pres_sl,station_name,lon,lat,alt
time,,,,,,,,,,,,,,,,,,,,,
2005-01-01 00:00:00,273.750000,273.750000,273.750000,273.549988,100.0,100.0,100.0,0.0,0.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,b'ARBENT',5.669,46.278198,534.0
2005-01-01 01:00:00,273.549988,273.649994,273.750000,273.649994,100.0,100.0,100.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,b'ARBENT',5.669,46.278198,534.0
2005-01-01 02:00:00,273.750000,273.850006,273.950012,273.549988,100.0,100.0,100.0,0.0,0.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,b'ARBENT',5.669,46.278198,534.0
2005-01-01 03:00:00,273.750000,273.750000,273.950012,273.750000,100.0,100.0,100.0,0.0,0.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,b'ARBENT',5.669,46.278198,534.0
2005-01-01 04:00:00,274.049988,274.049988,274.250000,273.750000,100.0,100.0,100.0,60.0,0.6,110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,b'ARBENT',5.669,46.278198,534.0

In [10]:
# TODO: replace with power data when available

df_power = df_weather[['ws']]
df_power.head()

                      ws
time
2005-01-01 00:00:00  0.0
2005-01-01 01:00:00  0.0
2005-01-01 02:00:00  0.0
2005-01-01 03:00:00  0.0
2005-01-01 04:00:00  0.6

In [ ]:
# TODO: run when prices data is available
df_prices = pd.read_parquet("../data/intermediate/parquet/prices/hourly/???.parquet")
df_prices.head()

In [ ]:
# For the moment, suppose df_prices is aligned with df_ws:
                               
df_prices = pd.DataFrame({
    'Price (EUR/MWhe)': [29.003, 28.324, 27.456, 26.789, 25.987]
}, index=pd.date_range(start='2005-01-01 00:00:00', periods=5, freq='h'))
df_prices.index.name = 'time'
df_prices.head()

                     Price (EUR/MWhe)
time
2005-01-01 00:00:00            29.003
2005-01-01 01:00:00            28.324
2005-01-01 02:00:00            27.456
2005-01-01 03:00:00            26.789
2005-01-01 04:00:00            25.987

In [ ]:
df_merged = pd.merge(df_power, df_prices, left_index=True, right_index=True)
df_merged.head()

                      ws  price_euros_mwh
time
2005-01-01 00:00:00  0.0           29.003
2005-01-01 01:00:00  0.0           28.324
2005-01-01 02:00:00  0.0           27.456
2005-01-01 03:00:00  0.0           26.789
2005-01-01 04:00:00  0.6           25.987

In [ ]:
# def merge_power_price(df_power, df_price):
#     """
#     Merges power data with price data on the time index.

#     Parameters:
#     df_power (pd.DataFrame): DataFrame containing power data with a datetime index.
#                             Expected format: index as datetime, column 'mwh'.
#     df_price (pd.DataFrame): DataFrame containing price data with a datetime index.
#                             Expected format: index as datetime, column 'price_euros_mwh'.

#     Returns:
#     pd.DataFrame: Merged DataFrame containing both power and price data.
#     """
#     df_merged = pd.merge(df_power, df_price, left_index=True, right_index=True)
#     return df_merged

In [15]:
# compute returns without merging
def compute_returns(df_power, df_price):
    """
    Computes the returns based on power generation and electricity prices.

    Parameters:
    df_power (pd.DataFrame): DataFrame containing power data with a datetime index.
                            Expected format: index as datetime, column 'mwh'.
    df_price (pd.DataFrame): DataFrame containing price data with a datetime index.
                            Expected format: index as datetime, column 'price_euros_mwh'.

    Returns:
    pd.Series: Series containing the computed returns indexed by time.
    """
    # TODO: replace 'ws' with 'mwh' when power data is available
    df_returns = df_power['ws'] * df_price['price_euros_mwh']
    return df_returns

df_returns = compute_returns(df_power, df_prices)
df_returns.head()

time
2005-01-01 00:00:00     0.000000
2005-01-01 01:00:00     0.000000
2005-01-01 02:00:00     0.000000
2005-01-01 03:00:00     0.000000
2005-01-01 04:00:00    15.592201
dtype: float64